// Variables

$red: #ca203f;
$dark-red: #9e1c39;
$orange: #e4792e;
$dark-orange: #c15027;
$blue: #2394a6;
$dark-blue: #08626b;
$light-green: #80a143;
$medium-green: #608a3c;
$dark-green: #4a6830;
$black: #333;

$text-color: $black